.greeting {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    margin-top: 6vh;
    margin-left: 6vw;
    margin-bottom: 6vh;
}

.greeting-eyebrow {
    font-size: 44px;
    color: var(--color-status-warning);
    font-weight: var(--font-weight-semibold);
}

.greeting-name {
    font-size: 80px;
    color: var(--color-status-warning);
    font-weight: var(--font-weight-semibold);
    line-height: 1.1;
}

.greeting-subtitle {
    font-size: 24px;
    color: var(--app-text-primary);
    padding: var(--spacing-stack-sm);
}
