body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    background:
            linear-gradient(
                    260deg,
                    var(--color-color-gray-200) 70%,
                    var(--app-background)
            ) top right / 25vw 50vh no-repeat,
            linear-gradient(
                    260deg,
                    var(--color-color-gray-500),
                    var(--color-color-gray-200)
            ) bottom right / 25vw 50vh no-repeat,
            linear-gradient(
                    270deg,
                    var(--color-color-gray-200) 40%,
                    var(--app-background)
            ) left 50vw bottom / 25vw 50vh no-repeat,
            var(--app-background);
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;

    background-image: url(noise-pattern.png);
    background-repeat: repeat;
    background-size: 100vw 100vh;

    opacity: 0.3;
    mix-blend-mode: overlay;
}
